In [1]:
import os
import env
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
def get_pizza_data():
    filename = "pizza.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('SELECT * FROM crust_types, modifiers, pizza_modifiers, pizzas, pizza_toppings, sizes, toppings LIMIT 2000;', env.get_db_url('pizza'))
        
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)

        # Return the dataframe to the calling code
        return df

In [4]:
df = get_pizza_data()

In [5]:
df

,Unnamed: 0,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,modifier_id.1,pizza_id.1,order_id,...,size_id,pizza_id.2,topping_id,topping_amount,size_id.1,size_name,size_price,topping_id.1,topping_name,topping_price
0,0,1,hand-tossed,3,no cheese,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
1,1,2,thin and crispy,3,no cheese,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
2,2,1,hand-tossed,2,well done,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
3,3,2,thin and crispy,2,well done,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
4,4,1,hand-tossed,1,extra cheese,1.99,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,2,thin and crispy,2,well done,0.00,1108,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1996,1996,1,hand-tossed,1,extra cheese,1.99,1108,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1997,1997,2,thin and crispy,1,extra cheese,1.99,1108,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1998,1998,1,hand-tossed,3,no cheese,0.00,1108,1,1001,1001,...,1,1001,4,regular,1,small,8.99,8,pineapple,0.79
1999,1999,2,thin and crispy,3,no cheese,0.00,1108,1,1001,1001,...,1,1001,4,regular,1,small,8.99,8,pineapple,0.79