In [1]:
import os
import env
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
def get_pizza_data():
    filename = "pizza.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        # read the SQL query into a dataframe
        df = pd.read_sql('SELECT * FROM crust_types, modifiers, pizza_modifiers, pizzas, pizza_toppings, sizes, toppings LIMIT 2000;', env.get_db_url('pizza'))
        
        # Write that dataframe to disk for later. Called "caching" the data for later.
        df.to_csv(filename)

        # Return the dataframe to the calling code
        return df

In [4]:
df = get_pizza_data()

In [5]:
df

,Unnamed: 0,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,modifier_id.1,pizza_id.1,order_id,...,size_id,pizza_id.2,topping_id,topping_amount,size_id.1,size_name,size_price,topping_id.1,topping_name,topping_price
0,0,1,hand-tossed,3,no cheese,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
1,1,2,thin and crispy,3,no cheese,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
2,2,1,hand-tossed,2,well done,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
3,3,2,thin and crispy,2,well done,0.00,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
4,4,1,hand-tossed,1,extra cheese,1.99,1009,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,2,thin and crispy,2,well done,0.00,1108,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1996,1996,1,hand-tossed,1,extra cheese,1.99,1108,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1997,1997,2,thin and crispy,1,extra cheese,1.99,1108,1,1001,1001,...,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1998,1998,1,hand-tossed,3,no cheese,0.00,1108,1,1001,1001,...,1,1001,4,regular,1,small,8.99,8,pineapple,0.79
1999,1999,2,thin and crispy,3,no cheese,0.00,1108,1,1001,1001,...,1,1001,4,regular,1,small,8.99,8,pineapple,0.79

In [8]:
df = df.drop(columns='Unnamed: 0')

In [9]:
df

,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,modifier_id.1,pizza_id.1,order_id,crust_type_id.1,size_id,pizza_id.2,topping_id,topping_amount,size_id.1,size_name,size_price,topping_id.1,topping_name,topping_price
0,1,hand-tossed,3,no cheese,0.00,1009,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
1,2,thin and crispy,3,no cheese,0.00,1009,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
2,1,hand-tossed,2,well done,0.00,1009,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
3,2,thin and crispy,2,well done,0.00,1009,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
4,1,hand-tossed,1,extra cheese,1.99,1009,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,2,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,thin and crispy,2,well done,0.00,1108,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1996,1,hand-tossed,1,extra cheese,1.99,1108,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1997,2,thin and crispy,1,extra cheese,1.99,1108,1,1001,1001,2,1,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1998,1,hand-tossed,3,no cheese,0.00,1108,1,1001,1001,2,1,1001,4,regular,1,small,8.99,8,pineapple,0.79
1999,2,thin and crispy,3,no cheese,0.00,1108,1,1001,1001,2,1,1001,4,regular,1,small,8.99,8,pineapple,0.79

In [10]:
df = df.drop(columns=['modifier_id.1', 'pizza_id.1', 'order_id', 'crust_type_id.1', 'size_id'])

In [11]:
df

,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,pizza_id.2,topping_id,topping_amount,size_id.1,size_name,size_price,topping_id.1,topping_name,topping_price
0,1,hand-tossed,3,no cheese,0.00,1009,1001,4,regular,4,x-large,14.99,2,sausage,0.99
1,2,thin and crispy,3,no cheese,0.00,1009,1001,4,regular,4,x-large,14.99,2,sausage,0.99
2,1,hand-tossed,2,well done,0.00,1009,1001,4,regular,4,x-large,14.99,2,sausage,0.99
3,2,thin and crispy,2,well done,0.00,1009,1001,4,regular,4,x-large,14.99,2,sausage,0.99
4,1,hand-tossed,1,extra cheese,1.99,1009,1001,4,regular,4,x-large,14.99,2,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,thin and crispy,2,well done,0.00,1108,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1996,1,hand-tossed,1,extra cheese,1.99,1108,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1997,2,thin and crispy,1,extra cheese,1.99,1108,1001,4,regular,4,x-large,14.99,9,hot sauce,0.19
1998,1,hand-tossed,3,no cheese,0.00,1108,1001,4,regular,1,small,8.99,8,pineapple,0.79
1999,2,thin and crispy,3,no cheese,0.00,1108,1001,4,regular,1,small,8.99,8,pineapple,0.79

In [12]:
df = df.drop(columns=['pizza_id.2', 'size_id.1', 'topping_id.1'])

In [13]:
df

,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,topping_id,topping_amount,size_name,size_price,topping_name,topping_price
0,1,hand-tossed,3,no cheese,0.00,1009,4,regular,x-large,14.99,sausage,0.99
1,2,thin and crispy,3,no cheese,0.00,1009,4,regular,x-large,14.99,sausage,0.99
2,1,hand-tossed,2,well done,0.00,1009,4,regular,x-large,14.99,sausage,0.99
3,2,thin and crispy,2,well done,0.00,1009,4,regular,x-large,14.99,sausage,0.99
4,1,hand-tossed,1,extra cheese,1.99,1009,4,regular,x-large,14.99,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2,thin and crispy,2,well done,0.00,1108,4,regular,x-large,14.99,hot sauce,0.19
1996,1,hand-tossed,1,extra cheese,1.99,1108,4,regular,x-large,14.99,hot sauce,0.19
1997,2,thin and crispy,1,extra cheese,1.99,1108,4,regular,x-large,14.99,hot sauce,0.19
1998,1,hand-tossed,3,no cheese,0.00,1108,4,regular,small,8.99,pineapple,0.79
1999,2,thin and crispy,3,no cheese,0.00,1108,4,regular,small,8.99,pineapple,0.79

In [15]:
df.value_counts('topping_id')

topping_id
4    2000
dtype: int64

In [16]:
df = df.drop(columns='topping_id')

In [17]:
df

,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,topping_amount,size_name,size_price,topping_name,topping_price
0,1,hand-tossed,3,no cheese,0.00,1009,regular,x-large,14.99,sausage,0.99
1,2,thin and crispy,3,no cheese,0.00,1009,regular,x-large,14.99,sausage,0.99
2,1,hand-tossed,2,well done,0.00,1009,regular,x-large,14.99,sausage,0.99
3,2,thin and crispy,2,well done,0.00,1009,regular,x-large,14.99,sausage,0.99
4,1,hand-tossed,1,extra cheese,1.99,1009,regular,x-large,14.99,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...
1995,2,thin and crispy,2,well done,0.00,1108,regular,x-large,14.99,hot sauce,0.19
1996,1,hand-tossed,1,extra cheese,1.99,1108,regular,x-large,14.99,hot sauce,0.19
1997,2,thin and crispy,1,extra cheese,1.99,1108,regular,x-large,14.99,hot sauce,0.19
1998,1,hand-tossed,3,no cheese,0.00,1108,regular,small,8.99,pineapple,0.79
1999,2,thin and crispy,3,no cheese,0.00,1108,regular,small,8.99,pineapple,0.79

In [18]:
df.value_counts('pizza_id')

pizza_id
1027    216
1031    216
1034    216
1047    216
1053    216
1058    216
1071    216
1093    216
1098    216
1009     30
1108     26
dtype: int64

In [19]:
df.value_counts('topping_name')

topping_name
hot sauce         240
pepperoni         240
sausage           222
pineapple         218
bacon             216
canadian bacon    216
olives            216
onion             216
peppers           216
dtype: int64

In [20]:
df

,crust_type_id,crust_type_name,modifier_id,modifier_name,modifier_price,pizza_id,topping_amount,size_name,size_price,topping_name,topping_price
0,1,hand-tossed,3,no cheese,0.00,1009,regular,x-large,14.99,sausage,0.99
1,2,thin and crispy,3,no cheese,0.00,1009,regular,x-large,14.99,sausage,0.99
2,1,hand-tossed,2,well done,0.00,1009,regular,x-large,14.99,sausage,0.99
3,2,thin and crispy,2,well done,0.00,1009,regular,x-large,14.99,sausage,0.99
4,1,hand-tossed,1,extra cheese,1.99,1009,regular,x-large,14.99,sausage,0.99
...,...,...,...,...,...,...,...,...,...,...,...
1995,2,thin and crispy,2,well done,0.00,1108,regular,x-large,14.99,hot sauce,0.19
1996,1,hand-tossed,1,extra cheese,1.99,1108,regular,x-large,14.99,hot sauce,0.19
1997,2,thin and crispy,1,extra cheese,1.99,1108,regular,x-large,14.99,hot sauce,0.19
1998,1,hand-tossed,3,no cheese,0.00,1108,regular,small,8.99,pineapple,0.79
1999,2,thin and crispy,3,no cheese,0.00,1108,regular,small,8.99,pineapple,0.79